.container {
    padding: 10px;
    width: calc(100dvw - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    text-align: center;
}

.container * {
    font-family: "Courier New", Courier, monospace;
}

.container svg * {
    font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
    font-size: 30px;
    justify-self: flex-start;
    margin: 0 0 10px 0;
}

.container h4 {
    justify-self: flex-start;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.controls {
    border-top: 2px solid #ddd;
    padding-top: 40px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
    text-align: center;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.select {
    width: 150px;
    font-size: 14px;
}

.input {
    width: 150px;
    font-size: 14px;
}

.field button {
    justify-self: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.or {
    margin: 15px;
    opacity: 0.5;
}

.svgContainer {
    padding: 2px;
    border: 1px solid #999;
    border-radius: 4px;
    margin-bottom: 40px;
}
